@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos terricolas</h1>
    <p>Lorep insum Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, labore vel. Nesciunt neque veniam error, optio, ut eos possimus nisi esse tempora impedit nulla commodi recusandae blanditiis corrupti assumenda voluptatum!</a>.</p>
</div>
